*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.validation{
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgb(1,1,1,0.1);
}
.title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input{
    font-size: 15px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus{
    outline-color:aquamarine;
}
.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    background-color: aquamarine;
    border-radius: 8px;
    border: transparent solid  2px;
    padding: 5px 10px;
    color: black;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: antiquewhite;
    border: 2px solid green;
    cursor: pointer;
    transition: 0.3s ease-out;
}